/* Inicio del Reseteo de CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
  height: 100%;
  scroll-behavior: smooth;
}

html {
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* Fin del Reseteo de CSS */

/* Inicio de Estilos Globales */

:root {
  /* Colores */
  --color-fondo-principal: #f3f4f6;
  --color-texto-cuerpo: #394150;
  --color-texto-etiqueta: #263fa9;
  --color-fondo-caja-uno: #c1b6f8;
  --color-fondo-caja-dos: #edacd2;
  --color-fondo-caja-tres: #9dc4f8;
  --color-fondo-caja-cuatro: #f8d8b0;
  --color-fondo-caja-cinco: #86e7d4;

  /* Tipografía */
  --tamano-encabezado: 2.5rem;
  --tamano-etiqueta: 1.25rem;
  --tamano-cuerpo: 1rem;

  --grosor-regular: 400;
  --grosor-medio: 500;
  --grosor-semi-negrita: 600;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes deslizar {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

body {
  font-family: "Outfit", sans-serif;
  padding: 15px 20px;
  animation: aparecer 1s ease-in-out;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  background-color: var(--color-fondo-principal);
  background-image: url("./resources/Background_decor.svg");
  background-repeat: no-repeat;
  border-radius: 1.2rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  animation: deslizar 1s ease-in-out;
}

.etiqueta {
  font-size: var(--tamano-etiqueta);
  font-weight: var(--grosor-semi-negrita);
  color: var(--color-texto-etiqueta);
}

h1 {
  font-size: var(--tamano-encabezado);
  font-weight: var(--grosor-medio);
}

.descripcion {
  font-size: var(--tamano-cuerpo);
  font-weight: var(--grosor-medio);
  color: var(--color-texto-cuerpo);
  width: 90%;
  text-wrap: wrap;
}

.cuadricula-miembros {
  display: grid;
  grid-template-columns: 1fr;
}

.miembro-equipo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3rem 2rem;
  overflow: hidden;
  height: 400px;
  animation: aparecer 1s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.miembro-equipo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 1;
}

.miembro-equipo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  opacity: 0.85;
}

.miembro-equipo .nombre,
.miembro-equipo .puesto {
  position: relative;
  z-index: 3;
  margin: 0;
}

.nombre {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: var(--grosor-medio);
}

.puesto {
  color: #ffffff;
  font-size: var(--tamano-cuerpo);
  font-weight: 300;
  opacity: 0.9;
}

.miembro-equipo.uno {
  background-color: var(--color-fondo-caja-uno);
}

.miembro-equipo.dos {
  background-color: var(--color-fondo-caja-dos);
}

.miembro-equipo.tres {
  background-color: var(--color-fondo-caja-tres);
}

.miembro-equipo.cuatro {
  background-color: var(--color-fondo-caja-cuatro);
}

.miembro-equipo.cinco {
  background-color: var(--color-fondo-caja-cinco);
}

.contenedor-enlace-externo {
  display: flex;
  align-items: flex-end;
  padding: 3rem 2rem;
  height: 400px;
  gap: 1rem;
  animation: aparecer 1s ease-in-out;
  animation-delay: 0.7s;
  animation-fill-mode: both;
}

a {
  display: flex;
  gap: 0.3rem;
  color: var(--color-texto-cuerpo);
  font-weight: var(--grosor-medio);
  text-decoration: none;
}

@media (min-width: 64rem) and (max-width: 80rem) {
  header {
    width: 48%;
  }

  .cuadricula-miembros {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "uno dos tres"
      "cuatro cinco seis";
  }

  .miembro-equipo {
    padding: 1rem;
  }

  .miembro-equipo.uno {
    grid-area: uno;
  }

  .miembro-equipo.dos {
    grid-area: dos;
  }

  .miembro-equipo.tres {
    grid-area: tres;
  }

  .contenedor-enlace-externo {
    padding: 1rem;
    grid-area: cuatro;
  }

  .miembro-equipo.cuatro {
    grid-area: cinco;
  }

  .miembro-equipo.cinco {
    grid-area: seis;
    border-bottom-right-radius: 1.2rem;
  }
}

@media (min-width: 80rem) {
  body {
    padding: 20px 40px;
  }
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 0;
    grid-template-areas:
      "encabezado encabezado uno dos"
      "enlace-externo tres cuatro cinco";
  }

  header {
    grid-area: encabezado;
    width: 90%;
  }

  .cuadricula-miembros {
    /* Usar 'contents' para permitir que los elementos hijos participen directamente en el layout de la rejilla */
    display: contents;
  }

  .miembro-equipo {
    padding: 1.5rem;
    height: 300px;
  }

  .miembro-equipo.uno {
    grid-area: uno;
  }

  .miembro-equipo.dos {
    grid-area: dos;
    border-top-right-radius: 1.2rem;
  }

  .contenedor-enlace-externo {
    grid-area: enlace-externo;
    padding: 1.5rem;
    height: 300px;
  }

  .miembro-equipo.tres {
    grid-area: tres;
  }

  .miembro-equipo.cuatro {
    grid-area: cuatro;
  }

  .miembro-equipo.cinco {
    grid-area: cinco;
    border-bottom-right-radius: 1.2rem;
  }
}